*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: #111;
}

button{
  padding: 10px 20px;
  margin: 20px;
}

h1{
  background-color: gainsboro;
  width: fit-content;
  font-size: 100px;
  padding: 10px 20px;
  margin: 20px;
}